<%- include("partials/header", {stylesheet:"home.css", title: "Movies"}) %>

<div class="container h-100 d-flex align-items-center">
    <div class="jumbotron bg-transparent text-center">
        <h1 class="display-4 font-weight-bold text-uppercase text-white">In the mood to catch a flick? See what movies are playing now!</h1>
        <a href="/nowplaying"><button class="btn bg-warning text-center text-white font-weight-bold">Show me a list of movies!</button></a>
    </div>
</div>

<%- include("partials/footer") %> 