<%- include("partials/header") %>
<div class="container">
    <p>Got suggestions on new donut flavors? Shoot us a message.</p>
    <form>
        <div class="form-group">
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
</div>
<%- include("partials/footer") %>