<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="style.css">
        <title>Something Broke</title>
    </head>
    <body id="error_page">
        <h1><%= error %></h1>
    </body>
</html>