<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="style.css">
        <title>Dog Image - Front End</title>
    </head>
    <body>
        <form class="container" action="/getImage">
            <input type="submit" id="btn" value="Click Me for Random Dog" />
            <h1>Random Dog Pic Generator</h1>
            <img src=<%= image %> alt="Dog" id="pic">
        </form>
    </body>
</html>