h1:hover {
    background: purple;
}

h1:active {
    font-size: 100px;
}

button:hover {
    color: red;
}

button:active {
    background: burlywood;
    font-size: 40px;
}

input:focus {
    padding-bottom: 100px;
}

input:focus {
    background: red;
    outline: none;
    border: 2px blue solid;
}