* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
}

.bg {
    height: 100%;
    background-image: url("pic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.register {
    font-family: Oswald, Arial, Helvetica, sans-serif;
    background: white;
    border: 2px black solid;
    border-radius: 30px;
    padding: 20px;
    position: fixed;
    width: 400px;
    top: 20px;
    left: 20px;
}

input {
    padding: 10px;
    width: 100%;
    margin: 15px 0 30px 0;
    background: #eee;
}

input:focus {
    background: #e0e0e0;
}

button {
    color: white;
    background: red;
    border-radius: 20px;
    font-size: 24px;
    padding: 16px 20px;
    width: 100%;
    transition: 0.5s;
}

button:hover {
    color: purple;
    background: orange;
    cursor: pointer;
    transition: 0.5s;
}